.App {
  height: 100vh;
  background-image: linear-gradient(45deg, #e6b120, #f0a590);
}

.title {
  padding: 0;
  margin: 0;
  color: #e63707;
  font-size: 64px;
  display: flex;
  flex-direction: column;
  text-align: center;
}

.players-field {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  text-align: center;
  max-width: 60%;
  margin: 0 auto;
}

.battle-container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  margin: 0 15px;
}

.button-attack {
  margin: 0;
  width: 15rem;
  background-color: #ed8b6f;
  color: #e63707;
  border: 2px solid #e63707;
  border-radius: 5%;
  font-size: 56px;
  cursor: pointer;
}

.button-reset {
  margin: 0;
  width: 15rem;
  background-color: #92f0a2;
  color: #03911b;
  border: 2px solid #03911b;
  border-radius: 5%;
  font-size: 56px;
  cursor: pointer;
}

p {
  font-size: 32px;
  font-weight: bold;
}

@media (max-width: 1200px) {
  .title {
    font-size: 48px;
  }

  .button-attack {
    width: 8rem;
    font-size: 30px;
  }

  .button-reset {
    width: 8rem;
    font-size: 30px;
  }

  p {
    font-size: 24px;
  }
}

@media (max-width: 1000px) {
  .title {
    font-size: 32px;
  }

  .button-attack {
    width: 7rem;
    font-size: 24px;
  }

  .button-reset {
    width: 7rem;
    font-size: 24px;
  }

  p {
    font-size: 18px;
  }
}

@media (max-width: 750px) {
  p {
    font-size: 14px;
  }
}

@media (max-width: 450px) {
  .title {
    font-size: 24px;
  }

  .players-field {
    max-width: 70%;
  }

  .button-attack {
    width: 5rem;
    font-size: 20px;
  }

  .button-reset {
    width: 5rem;
    font-size: 20px;
  }

  p {
    font-size: 12px;
  }
}

@media (max-width: 375px) {
  .players-field {
    max-width: 90%;
  }
}
